::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 54px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

.jumbo{
    background-color: #1abc9c;
}
.b_ground{
    background-color: #1abc9c;
}
h2 {
    overflow: hidden;
    text-align: center;
}
h2:before,
h2:after {
    background-color: rgb(255, 255, 255);
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 10%;
    border-radius: 20px;
}
section:nth-child(2) > h2:before,
section:nth-child(2) > h2:after{
    background-color: #000000;
}
h2:before {
    right: 0.5em;
    margin-left: -50%;
}
h2:after {
    left: 0.5em;
    margin-right: -50%;
}
footer{
    background-color: #3a546d;
}
footer i{
    width: 35px;
    padding-top: 8px;
    height: 35px;
}
.copyright{
    background-color: #2c3e50;
    height: 80px;
}